:root {
  background-color: white;
  --primary-color: #007fff;
  --success-color: #22c55e;
  --system-error: #ef4444;
  --gray-900: #0b0f19;
  --gray-800: #33354d;
  --gray-700: #565973;
  --gray-600: #9397ad;
  --gray-500: #b4b7c9;
  --gray-400: #d4d7e5;
  --gray-300: #e2e5f1;
  --gray-200: #eff2fc;
  --gray-100: #f3f6ff;
  --bg-white: #fff;
  --transiton-hover: 0.2s ease-in-out;
  --box-shadow: 0 5px 5px #00000028;
  --line-height: 1.4rem;
}

/* NavBar UP - Start */
.navbar-up {
  padding-block: 1.2rem;
  background-color: var(--gray-900);
  color: var(--gray-100);
  transition: transform 1.5s ease;
}

.navbar-up.hidden {
  transform: translateY(-100%);
}

.navbar-up .navbar-contact-detail,
.contactInfoList,
.social-media-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-up .navbar-contact-detail {
  justify-content: space-between;
}

.contactInfoList i {
  padding-right: 1rem;
  color: var(--primary-color);
}

.contactInfoList span {
  font-weight: 100;
  font-size: 0.8rem;
}

.social-media-icon i {
  color: var(--bg-white);
  font-size: 1.4rem;
  &:hover,
  &:focus {
    color: var(--primary-color);
    transition: var(--transiton-hover);
  }
}

/* NavBar Up - End */

/* NavBar Down - Start*/

.navbar-down {
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  width: 100%;
}

.navbar-down-links,
.navbar-down-links .main-menu,
.navbar-down .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-down-links .main-menu {
  gap: 2rem;
  a {
    color: var(--gray-900);
    font-weight: 600;
    &:hover,
    &:focus {
      color: var(--primary-color);
      transition: var(--transiton-hover);
    }
  }
}

.navbar-down-logo img {
  width: 60%;
}

.menu-btn {
  display: none;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* BreadCrumbs - Start */
.crumb a {
  color: var(--primary-color) !important;
}

.breadcrumb-section {
  background-color: var(--gray-100);
  padding-block: 1rem;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background-color: var(--gray-100);
  color: var(--gray-600);
  .crevrons-right {
    font-size: 0.6rem;
  }
}
/* BreadCrumbs - End */

/* Banner Section */
.banner-section {
  margin-block: 2rem;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bannerRight bannerLeft";
  padding-bottom: 2rem;
}

.sectionHeader,
.banner-right,
.banner-right-text,
.banner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-right-text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.banner-right {
  grid-area: bannerRight;
  animation: slideDown 1s ease-out forwards;
  gap: 2rem;
  h1 {
    padding-bottom: 2rem;
  }
}

.banner-left {
  grid-area: bannerLeft;
}

/* Banner Section End */

/* Section Start */

.sectionHeader {
  h1 {
    margin-bottom: 0;
  }
  .headerSpan {
    width: 5rem;
    height: 2px;
    background-color: var(--primary-color);
  }
}

/* Section End */

/* Our Services Start */

.our-services {
  margin-block: 5rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
  max-width: 100%;
  margin-block: 5rem;
}
.service-card {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  place-items: center;
  transform: scale(1);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  &:hover {
    transform: scale(1.04);
    transition: all 0.5s;
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  line-height: var(--line-height);
}

.card-details i {
  padding-left: 1rem;
  color: var(--primary-color);
}

.card-details a {
  color: var(--primary-color);
}

.card-details i:hover {
  color: var(--gray-900);
  transition: var(--transiton-hover);
}
.card-details a:hover {
  color: var(--gray-900);
  transition: var(--transiton-hover);
}

.card-image img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
}

/* Our Services End */

/* About-Us homepage - Start */

.about-us-section {
  padding-block: 4rem;
  background-color: var(--gray-100);
}

.about-us-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 3rem;
}

.detail-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  line-height: var(--line-height);
}

.detail-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.detail-right-card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2rem;
  margin-block: 1rem;
}

.detail-left img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-block: 2rem;
}

.detail-right-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.card-text-header {
  font-weight: 800;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 32px;
  height: 32px;
  background-color: var(--primary-color);
  color: var(--bg-white);
  border-radius: 50%;
}

.footer-details {
  padding-block: 2rem;
  background-color: var(--gray-200);
}

.footer-container-details {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  gap: 2rem;
}

.footer-navlink {
  line-height: var(--line-height);
}

.footer-header-line {
  width: 100px;
  height: 2px;
  background-color: var(--primary-color);
  margin-bottom: 2rem;
}

.footer-detail-header {
  margin-bottom: 0;
}

.footer-blog {
  line-height: var(--line-height);
}

.nav-link {
  color: var(--primary-color);
  font-weight: 500;
  &:hover,
  &:focus {
    color: var(--gray-900);
    transition: var(--transiton-hover);
  }
}

.newsletter-form {
  display: flex;
  justify-content: start;
}

.newsletter-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

.newsletter-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #0056b3;
}

.newsletter-message {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.newsletter-message.error {
  color: var(--system-error);
}

.newsletter-message.success {
  color: var(--success-color);
}

.contact-details {
  line-height: var(--line-height);
}
.contact-details span {
  padding-right: 0.5rem;
}

footer {
  text-align: center;
  padding-block: 2rem;
  background-color: var(--gray-900);
  color: var(--bg-white);
}
/* Animation */

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
