.container,
.container-fluid {
  position: relative;
  width: 85%;
  margin-inline: auto;

  @media (width > 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (width > 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (width > 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (width > 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (width > 1400px) {
    .container {
      max-width: 1250px;
    }
  }
}

/* Responsive for tablet */
@media (min-width: 768px) and (max-width: 1399px) {
  .socialMedia {
    display: none;
  }
  .contactInfoList {
    gap: 0.9rem !important;
  }
  .menu-btn {
    display: block !important;
  }
  .main-menu {
    display: none !important;
  }
  .main-menu.is-open {
    display: flex !important;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    background-color: var(--bg-white);
    border-radius: 0.7rem;
    z-index: 9999;
  }
  .navbar-down-links .main-menu {
    font-size: 1.5rem;
  }

  .banner-container {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "bannerRight"
      "bannerLeft" !important;
    gap: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .about-us-detail {
    grid-template-columns: 1fr !important;
  }

  .detail-right {
    width: 100% !important;
  }

  .detail-left {
    display: none;
  }

  .footer-container-details {
    grid-template-columns: 1fr !important;
  }

  .footer-links {
    display: none;
  }
  .about-us-details {
    width: 100% !important;
  }

  .about-sida-us-container img {
    max-width: 50% !important;
}

.service-detail p { 
  width: 100% !important;
}

.service-detail img {
  width: 50% !important;
}
.references-container {
  grid-template-columns: repeat(2, 1fr) !important;
}
.contact-details-page {
  grid-template-columns: 1fr !important;
  gap: 3rem;
}
}

/* Responsive for mobile */
@media (max-width: 767px) {
  .socialMedia {
    display: none;
  }
  .contactInfoList {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 0.4rem !important;
  }
  .menu-btn {
    display: block !important;
  }
  .main-menu {
    display: none !important;
  }
  .main-menu.is-open {
    display: flex !important;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    background-color: var(--bg-white);
    border-radius: 0.7rem;
    z-index: 9999;
  }
  .navbar-down-links .main-menu {
    font-size: 1.5rem;
  }

  .banner-container {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "bannerRight"
      "bannerLeft" !important;
    gap: 2rem;
  }

  .services {
    grid-template-columns: 1fr !important;
  }

  .about-us-detail {
    grid-template-columns: 1fr !important;
  }

  .detail-right-container {
    grid-template-columns: 1fr !important;
  }

  .detail-right {
    width: 100% !important;
  }

  .detail-left {
    display: none;
  }

  .footer-container-details {
    grid-template-columns: 1fr !important;
  }

  .footer-links {
    display: none;
  }

  .about-us-details {
    width: 100% !important;
  }

  .about-sida-us-container img {
    max-width: 100% !important;
}

.service-detail p { 
  width: 100% !important;
}

.service-detail img {
  width: 100% !important;
}

.references-container {
  grid-template-columns: 1fr !important;
}
.contact-details-page {
  grid-template-columns: 1fr !important;
  gap: 3rem;
}
.contact-form-container { 
  width: 100% !important;
}
}
